:root {
  --primary-color: #A8E6CF;
  --secondary-color: #D6C6E1;
  --accent-color: #FDFD96;
  --text-color: #333333;
  --background-color: #b4efd6d5;
}

body {
  font-family: 'Roboto', serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', 'Poppins', sans-serif;
}

.logo {
  font-family: 'Montserrat', 'Poppins', sans-serif;
  color: var(--primary-color);
}

.primary-bg {
  background-color: var(--primary-color);
}

.secondary-bg {
  background-color: var(--secondary-color);
}

.accent-bg {
  background-color: var(--accent-color);
}

.primary-text {
  color: var(--primary-color);
}

.secondary-text {
  color: var(--secondary-color);
}

.accent-text {
  color: var(--accent-color);
}

/* Example button styles */
.button {
  background-color: var(--primary-color);
  color: var(--background-color);
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-family: 'Montserrat', 'Poppins', sans-serif;
  font-weight: bold;
}

.button:hover {
  background-color: var(--secondary-color);
}

/* Example link styles */
a {
  color: var(--primary-color);
  text-decoration: none;
}

a:hover {
  color: var(--secondary-color);
  text-decoration: underline;
}
  