.Splash {
    text-align: center;
    border-radius: 2rem;
}

.Splash-header {
    padding: 5px;
    background-color: #ffffff;
    font-size: xx-small;
}

.Splash-main {
    padding: 5px;
    text-align: center;
    background-color: #b4efd6d5;
    border-radius: 3rem;
}

.Splash-image img {
    max-width: 100%;
    height: auto;
}


